/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');


   *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
      text-transform: capitalize;
      font-family: 'Ms Madi', cursive;
      font-family: 'Square Peg', cursive;
      transition: all 0.2s linear;
  }

html,body{
   
   place-items: center;
   background: linear-gradient(291deg, black 60%, rgb(165, 118, 16) 60%);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
